<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ApplicationName</key>
		<string>EverGear</string>
		<key>BundleIdentifier</key>
		<string>jp.lakesoft.EverGear</string>
		<key>ITunesItemIdentifier</key>
		<string>523574150</string>
		<key>Labels</key>
		<dict>
			<key>en</key>
			<dict>
				<key>name</key>
				<string>EverGear</string>
				<key>desc</key>
				<string>Powerful posting tool for Evernote</string>
			</dict>
			<key>ja</key>
			<dict>
				<key>name</key>
				<string>EverGear</string>
				<key>desc</key>
				<string>高機能Evernote投稿ツール</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>ApplicationName</key>
		<string>StackOne</string>
		<key>BundleIdentifier</key>
		<string>jp.lakesoft.StackOne</string>
		<key>ITunesItemIdentifier</key>
		<string>829927919</string>
		<key>Labels</key>
		<dict>
			<key>en</key>
			<dict>
				<key>name</key>
				<string>StackOne</string>
				<key>desc</key>
				<string>Speedy Evernote Tool</string>
			</dict>
			<key>ja</key>
			<dict>
				<key>name</key>
				<string>StackOne</string>
				<key>desc</key>
				<string>さくさくエバーノート投稿</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>ApplicationName</key>
		<string>買い物さん</string>
		<key>BundleIdentifier</key>
		<string>jp.lakesoft.KaimonoSan</string>
		<key>ITunesItemIdentifier</key>
		<string>900731526</string>
		<key>Labels</key>
		<dict>
			<key>en</key>
			<dict>
				<key>name</key>
				<string>Kaimono San</string>
				<key>desc</key>
				<string>Calc for SuperMarket</string>
			</dict>
			<key>ja</key>
			<dict>
				<key>name</key>
				<string>買い物さん</string>
				<key>desc</key>
				<string>スーパーの電卓（無料）</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>ApplicationName</key>
		<string>Viewing Fun !</string>
		<key>BundleIdentifier</key>
		<string>jp.lakesoft.ViewingFun</string>
		<key>ITunesItemIdentifier</key>
		<string>665537846</string>
		<key>Labels</key>
		<dict>
			<key>en</key>
			<dict>
				<key>name</key>
				<string>Viewing Fun !</string>
				<key>desc</key>
				<string>Stylish Photo Viewer (Free)</string>
			</dict>
			<key>ja</key>
			<dict>
				<key>name</key>
				<string>Viewing Fun !</string>
				<key>desc</key>
				<string>新感覚写真ビューア（無料）</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>ApplicationName</key>
		<string>KickReminder</string>
		<key>BundleIdentifier</key>
		<string>jp.lakesoft.KickReminder</string>
		<key>ITunesItemIdentifier</key>
		<string>702233445</string>
		<key>Labels</key>
		<dict>
			<key>en</key>
			<dict>
				<key>name</key>
				<string>KickReminder</string>
				<key>desc</key>
				<string>Fast Rminder Tool</string>
			</dict>
			<key>ja</key>
			<dict>
				<key>name</key>
				<string>KickReminder</string>
				<key>desc</key>
				<string>最速リマインダ投稿ツール</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>ApplicationName</key>
		<string>KickCalPro</string>
		<key>BundleIdentifier</key>
		<string>jp.lakesoft.KickCalPro</string>
		<key>ITunesItemIdentifier</key>
		<string>789188018</string>
		<key>Labels</key>
		<dict>
			<key>en</key>
			<dict>
				<key>name</key>
				<string>KickCalPro</string>
				<key>desc</key>
				<string>Speedy Calendar Register</string>
			</dict>
			<key>ja</key>
			<dict>
				<key>name</key>
				<string>KickCalPro</string>
				<key>desc</key>
				<string>最速カレンダー登録</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>ApplicationName</key>
		<string>KickCal</string>
		<key>BundleIdentifier</key>
		<string>jp.lakesoft.KickCal</string>
		<key>ITunesItemIdentifier</key>
		<string>738116301</string>
		<key>Labels</key>
		<dict>
			<key>en</key>
			<dict>
				<key>name</key>
				<string>KickCal</string>
				<key>desc</key>
				<string>Speedy Calendar Register</string>
			</dict>
			<key>ja</key>
			<dict>
				<key>name</key>
				<string>KickCal</string>
				<key>desc</key>
				<string>最速カレンダー登録（無料）</string>
			</dict>
		</dict>
	</dict>
</array>
</plist>
