<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ApplicationName</key>
		<string>EverGear</string>
		<key>BundleIdentifier</key>
		<string>jp.lakesoft.EverGear</string>
		<key>ITunesItemIdentifier</key>
		<string>523574150</string>
		<key>Labels</key>
		<dict>
			<key>en</key>
			<dict>
				<key>name</key>
				<string>EverGear</string>
				<key>desc</key>
				<string>Powerful posting tool for Evernote</string>
			</dict>
			<key>ja</key>
			<dict>
				<key>name</key>
				<string>EverGear</string>
				<key>desc</key>
				<string>高機能Evernote投稿ツール</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>ApplicationName</key>
		<string>Todayee Text</string>
		<key>BundleIdentifier</key>
		<string>jp.lakesoft.todayee.text</string>
		<key>ITunesItemIdentifier</key>
		<string>1123372860</string>
		<key>Labels</key>
		<dict>
			<key>en</key>
			<dict>
				<key>name</key>
				<string>Todayee Text</string>
				<key>desc</key>
				<string>Evernote posting app in multi app &amp; devices</string>
			</dict>
			<key>ja</key>
			<dict>
				<key>name</key>
				<string>Todayee Text</string>
				<key>desc</key>
				<string>メモを1日のノートにまとめる</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>ApplicationName</key>
		<string>Todayee Photo</string>
		<key>BundleIdentifier</key>
		<string>jp.lakesoft.todayee.photo</string>
		<key>ITunesItemIdentifier</key>
		<string>1123376001</string>
		<key>Labels</key>
		<dict>
			<key>en</key>
			<dict>
				<key>name</key>
				<string>Todayee Photo</string>
				<key>desc</key>
				<string>Evernote posting app in multi app &amp; devices</string>
			</dict>
			<key>ja</key>
			<dict>
				<key>name</key>
				<string>Todayee Photo</string>
				<key>desc</key>
				<string>撮影した写真を1日のノートにまとめる</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>ApplicationName</key>
		<string>Todayee Silent</string>
		<key>BundleIdentifier</key>
		<string>jp.lakesoft.todayee.silent</string>
		<key>ITunesItemIdentifier</key>
		<string>1134363553</string>
		<key>Labels</key>
		<dict>
			<key>en</key>
			<dict>
				<key>name</key>
				<string>Todayee Silent</string>
				<key>desc</key>
				<string>Evernote posting app in multi app &amp; devices</string>
			</dict>
			<key>ja</key>
			<dict>
				<key>name</key>
				<string>Todayee Silent</string>
				<key>desc</key>
				<string>静音撮影した写真を1日のノートにまとめる</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>ApplicationName</key>
		<string>Todayee Extension</string>
		<key>BundleIdentifier</key>
		<string>jp.lakesoft.todayee.extension</string>
		<key>ITunesItemIdentifier</key>
		<string>1134361372</string>
		<key>Labels</key>
		<dict>
			<key>en</key>
			<dict>
				<key>name</key>
				<string>Todayee Extension</string>
				<key>desc</key>
				<string>Evernote posting app in multi app &amp; devices</string>
			</dict>
			<key>ja</key>
			<dict>
				<key>name</key>
				<string>Todayee Extension</string>
				<key>desc</key>
				<string>「送る」を1日のノートにまとめる</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>ApplicationName</key>
		<string>Todayee Place</string>
		<key>BundleIdentifier</key>
		<string>jp.lakesoft.todayee.place</string>
		<key>ITunesItemIdentifier</key>
		<string>1146820611</string>
		<key>Labels</key>
		<dict>
			<key>en</key>
			<dict>
				<key>name</key>
				<string>Todayee Place</string>
				<key>desc</key>
				<string>Evernote posting app in multi app &amp; devices</string>
			</dict>
			<key>ja</key>
			<dict>
				<key>name</key>
				<string>Todayee Place</string>
				<key>desc</key>
				<string>地図画像を1日のノートにまとめる</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>ApplicationName</key>
		<string>Todayee Pics</string>
		<key>BundleIdentifier</key>
		<string>jp.lakesoft.todayee.pics</string>
		<key>ITunesItemIdentifier</key>
		<string>1154987684</string>
		<key>Labels</key>
		<dict>
			<key>en</key>
			<dict>
				<key>name</key>
				<string>Todayee Pics</string>
				<key>desc</key>
				<string>Evernote posting app in multi app &amp; devices</string>
			</dict>
			<key>ja</key>
			<dict>
				<key>name</key>
				<string>Todayee Pics</string>
				<key>desc</key>
				<string>写真を1日のノートにまとめる</string>
			</dict>
		</dict>
	</dict>
</array>
</plist>
